<!DOCTYPE html>
<html>
	<head>
		<meta charset=utf-8>
		<title>Satellite Data</title>
		<style>
			body { margin: 0; overflow:hidden; color:#aaa; background:#000;}
			#sparklines { position:absolute; z-index: 10; left:5; bottom:5px; width:100%;}
			.tempChart{border:1px solid #333; height:100px;}
			#logo{ position:absolute; z-index: 10; top:0; left:0; width:300px; }
		</style>
		<script src="./node_modules/vue/dist/vue.min.js"></script>
		<script src="./node_modules/moment/moment.js"></script>
		<script src="./node_modules/chart.js/dist/Chart.min.js"></script>
		<script src="./node_modules/vue-chartkick/dist/vue-chartkick.min.js"></script>
	</head>
	<body>
		<img id="logo" src="./img/logo.png">
		<div id="sparklines" >
		  <span v-if="intRecords === 0" > Load a File</span><span v-if="intRecords > 0" > Add a File</span> : 
		  <input type="file" id="csv-file" name="files" @change="fnLoadFile" />
		  <button v-if="intRecords > 0" @click="fnReset" >Reset Data</button>
		  <!--  https://github.com/QingWei-Li/vue-trend  -->
		  	<div v-if="intRecords > 0">
		  		<!--
		  		<div> {{intRecords}} Seconds</div>
			  	
			  	<div v-for="objSensor in objConfig" class="tempChart">
				  {{objSensor.label}}
				  <trend
				    :data=objSensor.values
				    :gradient="['#000', '#f0f', '#00f', '#ff0', '#f00']"
				    :min=intMin
				    :max=intMax
				    auto-draw
				    >
				  </trend>
				  {{objSensor.values[objSensor.values.length-1]}}
				</div>
			-->
			</div>
			<line-chart :data="objChartData" :legend="true" suffix="°" :curve="false" :min="95" height="400px" style="width:100%"></line-chart>
		</div>
		
		<script src="./node_modules/papaparse/papaparse.min.js"></script>
		<script src="./node_modules/three/build/three.min.js"></script>
		<script src="./node_modules/three/examples/js/loaders/STLLoader.js"></script>
		<script src="./node_modules/three/examples/js/controls/OrbitControls.js"></script>
		<script src="./js/index.js"></script>
	</body>
</html>